body {
    background: #0B81BC;
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
.countdown {
    font-size: 0;  /* Hack for inline and inline-block extra markup generated spaces */
    display: block;
    overflow: auto;
    padding: 20px 0;
    margin: 60px;
    -webkit-transform: skew(-2deg, -2deg);
    transform: skew(-2deg, -2deg);
}
.countdown .item {
    display: block;
    float: left;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    padding: 36px 20px 10px 20px;
    margin: 0 10px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    background: #FFF;
    border: 2px solid #FFF;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}
.countdown .dd,
.countdown .hh-1,
.countdown .hh-2,
.countdown .mm-1,
.countdown .mm-2,
.countdown .ss-1,
.countdown .ss-2 {
    font: italic;
    text-shadow: 1px 1px 10px #FFF, 1px 1px 3px #333;
}
.countdown .label {
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    width: 120px;
    padding: 5px 10px;
    background: #0B81BC;
    color: #FFF;
}
